<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid d-flex flex-grow-1">
    <a class="navbar-brand" routerLink="home">
      <img class="logo" src="assets/logo.png" alt="Logo" />
      Klinika <br />
      weterynaryjna <br /><span
        style="font-family: 'Gill Sans Ultra Bold'; font-size: 20px"
        >ANIMA</span
      >
    </a>
    <button
      class="navbar-toggler text-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <div class="justify-content-end">
        <span>Witaj {{ userName }}!</span>
      </div>
      <span class="">
        <i class="fa fa-bars" style="color: white"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto flex-nowrap" *ngIf="!isAuthenticated">
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link">Usługi</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dla pacjenta</a>
        </li>
        <li>
          <hr />
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Zaloguj się</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto flex-nowrap" *ngIf="isAuthenticated">
        <li>
          <hr />
        </li>
        <li
          class="nav-item me-5"
          disabled="isAuthenticated"
          style="pointer-events: none"
        >
          <span class="nav-link">Witaj {{ userName }}!</span>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link">Zwierzęta</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wizyty</a>
        </li>
        <li>
          <hr />
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" (click)="logout()"
            >Wyloguj się</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
