<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid d-flex flex-grow-1">
    <a class="navbar-brand" routerLink="home">
      <img class="logo" src="assets/logo.png" alt="Logo" />
      Klinika <br />
      weterynaryjna <br /><span
        style="font-family: 'Gill Sans Ultra Bold'; font-size: 20px"
        >ANIMA</span
      >
    </a>
    <button
      class="navbar-toggler text-right"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="">
        <i class="fa fa-bars" style="color: white"></i>
      </span>
    </button>
    <div
      class="navbar-collapse collapse text-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto flex-nowrap" *ngIf="!isAuthenticated">
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link">Usługi</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dla pacjenta</a>
        </li>
        <li>
          <hr />
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" href="#">Kontakt</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Zaloguj się</a>
        </li>
      </ul>
      <ul
        class="navbar-nav ms-auto flex-nowrap"
        *ngIf="isAuthenticated && userRole == 4"
      >
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Zwierzęta</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wizyty</a>
        </li>
        <li>
          <hr />
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profil</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" (click)="logout()"
            >Wyloguj się</a
          >
        </li>
        <li
          class="nav-item"
          disabled="isAuthenticated"
          style="pointer-events: none"
          *ngIf="!isCollapsed"
        >
          <span class="nav-link" style="font-weight: bolder"
            >Witaj {{ userName }}!</span
          >
        </li>
      </ul>

      <ul
        class="navbar-nav ms-auto flex-nowrap"
        *ngIf="isAuthenticated && (userRole == 1 || userRole == 2)"
      >
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="animals">Zwierzęta</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wizyty</a>
        </li>
        <li>
          <hr />
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" routerLink="users">Uzytkownicy</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profil</a>
        </li>
        <li>
          <hr />
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" (click)="logout()"
            >Wyloguj się</a
          >
        </li>
        <li
          class="nav-item"
          disabled="isAuthenticated"
          style="pointer-events: none"
          *ngIf="!isCollapsed"
        >
          <span class="nav-link" style="font-weight: bolder"
            >Witaj {{ userName }}!</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
