<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6" style="text-align: center">
        <img class="logo position-fixed" src="assets/logo.png" alt="Logo" />
        <div class="title position-relative">
          Klinika weterynaryjna <br />
          <span style="font-family: 'Gill Sans Ultra Bold'; font-size: 20px"
            >ANIMA</span
          >
          <br />
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
      <div class="col-6 position-relative footerDetails">
        <div class="row m-1">
          <div class="col">
            <p class="h2">Skontaktuj się z nami</p>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-1">
            <i class="fa fa-phone" style="float: left"></i>
          </div>
          <div class="col m-2 footerDetailsMargin">
            <span>123456789</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-1">
            <i class="fa fa-envelope" style="float: left"></i>
          </div>
          <div class="col m-2 footerDetailsMargin">
            <span>anima@vet.pl</span>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-1">
            <span class="fa fa-home" style="float: left"></span>
          </div>
          <div class="col m-2 footerDetailsMargin">
            <p>Al. Niepodległości 24/30, Oświęcim</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
