<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <h1 class="card-title text-center">Zaloguj się</h1>
        <div class="card-body">
          <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Adres email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="np. jan.kowalski@email.pl"
                required
                ngModel
                email
                formControlName="email"
              />
              <div
                *ngIf="
                  !userLoginForm.controls['email'].valid &&
                  (userLoginForm.controls['email'].dirty ||
                    userLoginForm.controls['email'].touched)
                "
              >
                <div
                  class="text-danger"
                  *ngIf="userLoginForm.controls['email'].errors?.['required']"
                >
                  Email jest wymagany.
                </div>
                <div
                  class="text-danger"
                  *ngIf="userLoginForm.controls['email'].errors?.['email']"
                >
                  Wprowadź poprawny adres email
                </div>
              </div>
            </div>
            <div class="form-group mt-4">
              <label for="password">Hasło</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Hasło"
                required
                ngModel
                minlength="8"
                formControlName="password"
              />
              <div
                *ngIf="
                  !userLoginForm.controls['password'].valid &&
                  (userLoginForm.controls['password'].dirty ||
                    userLoginForm.controls['password'].touched)
                "
              >
                <div
                  class="text-danger"
                  *ngIf="userLoginForm.controls['password'].errors?.['minlength']"
                >
                  Hasło musi zaiwerać przynajmniej 8 liter.
                </div>
                <div
                  class="text-danger"
                  *ngIf="userLoginForm.controls['password'].errors?.['required']"
                >
                  Hasło jest wymagane
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-dark mt-4 form-control"
                [disabled]="!userLoginForm.valid"
              >
                Zaloguj się
              </button>
              <div class="text-success" *ngIf="success">
                Pomyslnie zalogowano do serwisu. Nastepuję przekierowanie do
                strony głównej. Prosze czekać.
              </div>
              <div *ngIf="userNotFound">
                <div class="text-danger">Niepoprawny email lub hasło</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
