<div class="row m-0">
  <div class="col-12 backgroundHomePage">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-10 col-sm-8 col-md-7 justify-content-center">
          <p class="title position-relative text-center">
            Klinika weterynaryjna <br /><span
              style="font-family: 'Gill Sans Ultra Bold'"
              >ANIMA</span
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-10 col-sm-8 col-md-7 justify-content-center">
          <p class="subtitle position-relative text-center">
            Wasi pupile są z nami bezpieczni od ponad <br /><span
              style="font-weight: 900"
            >
              30 lat!</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="color: rgba(0, 0, 0, 0.6)">
  <div class="row">
    <div class="col-12 text-center title2 mt-4">Leczymy z powołania</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 text-center text1 mt-4">
      ANIMA jest Kliniką Weterynaryjną z ponad 30 letnim doświadczeniem na
      rynku. Jesteśmy kliniką rodzinną, z pasją do leczenia zwierząt
      przekazywaną od pokoleń. Oferujemy szeroki wachlarz usług obejmujący:
      profilaktykę, diagnostykę i leczenie zwierząt towarzyszących.
    </div>
    <div class="col-12 text-center text1 mt-4" style="font-weight: bolder">
      Zaufało nam tysiące Pacjentów!
    </div>
  </div>
  <div class="row mt-3 mt-md-5 justify-content-center">
    <div class="col-4 text-center title3 pe-lg-4 ps-lg-5 ps-2 pe-2">
      <i class="fa fa-user-md"></i>
      <p class="pt-3">Wykwalifikowany personel</p>
      <p class="text1">
        Nasza kadra to doświadczeni specjaliści, którzy wykonują swoją pracę z
        dużym zaangażowaniem, dbając o każdego pacjenta w sposób indywidualny
      </p>
    </div>
    <div class="col-4 text-center title3 pe-lg-4 ps-lg-5 ps-2 pe-2">
      <i class="fa fa-calendar"></i>
      <p class="pt-3 pe-sm-3 ps-sm-3 pe-1 ps-1">Krótkie terminy przyjęć</p>
      <p class="text1">
        Dbamy, aby czas od rejestracji zwierzaka w klinice do wizyty lub zabiegu
        był jak najkrótszy. W nagłych przypadkach przyjmujemy pacjentów
        natychmiast.
      </p>
    </div>
    <div class="col-4 text-center title3 pe-lg-4 ps-lg-5 ps-2 pe-2">
      <i class="fa fa-lightbulb-o"></i>
      <p class="pt-3">Najnowocześniejszy sprzęt</p>
      <p class="text1">
        Najwyższej klasy specjalistyczny sprzęt stanowi dopełnienie umiejętności
        i doświadczenia naszych specjalistów, pozwalając im działać jeszcze
        skuteczniej.
      </p>
    </div>
  </div>
</div>
<div class="vetOnline">
  <div class="container pt-4">
    <div class="row pb-5">
      <div class="col-md-7 col-6">
        <p class="title2">Klinika weterynaryjna online</p>
        <p class="text1 mt-2">
          Wychodząc na przeciw oczekiwaniom naszych klientów nasz serwis
          internetowy stanowi również kartę pacjentów online! W każdej chwili
          przeglądaj historie leczenia swojego pupila!
        </p>
        <p class="text1 mt-2">
          Podczas pierwszej wizyty w klinice nasi pracownicy założą panstwu
          bezpłatne konto internetowe w naszym serwisie. Od tego momentu
          uzyskają państwo pełen dostep do historii leczenia wszystkich swoich
          pupilów zarejestrowanych w naszej klinice.
        </p>
      </div>
      <div class="col-md-5 col-6 justify-content-center mt-2">
        <img
          src="assets/home_online.jpg"
          class="homeOnlineImg position-static ms-md-5 ms-1 mb-5 img-fluid"
        />
      </div>
    </div>
  </div>
</div>
